<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Page</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Here is your Community</h1>
  <h2>Click on a name to get inspired by the user's pantry</h2>
  <ul>
    <% allUsers.forEach( (user) => { %>
      <li>
        <a href='/users/<%= user._id %>/show'><%= user.username %></a>
      </li>
    <% }); %>
  </ul>
</body>
</html>